@model ScientificEdition.Areas.Admin.Models.Article.ArticleInputModel
@using ScientificEdition.Business
@using ScientificEdition.Data
@using ScientificEdition.Data.Entities
@inject CategoryManager CategoryManager

@{
    ViewData["Title"] = "Редагування статті";

    var categories = CategoryManager.GetAllCategories();
    var categoryOptions = categories.Select(category => new SelectListItem
            {
                Text = category.Name,
                Value = category.Id.ToString()
            });

    var statuses = Enum.GetValues(typeof(ArticleStatus)) as IEnumerable<ArticleStatus>;
    var statusOptions = statuses!.Select(status => new SelectListItem
            {
                Text = TextHelper.Text($"ArticleStatus_{status}"),
                Value = status.ToString()
            });
}

<div class="container mt-5 col-lg-9">
    <h2>Редагувати статтю: @Model.Title</h2>

    <form asp-action="Edit" method="post">
        <div class="mb-3">
            <label asp-for="Title" class="form-label">Заголовок</label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="CategoryId" class="form-label">Категорія</label>
            @Html.DropDownListFor(m => m.CategoryId, categoryOptions, "Оберіть категорію...", new { @class = "form-select" })
            <span asp-validation-for="CategoryId"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Status" class="form-label">Статус</label>
            @Html.DropDownListFor(m => m.Status, statusOptions, new { @class = "form-select" })
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Зберегти зміни</button>
            <a class="btn btn-secondary" href="@Url.Action("Details", "Articles", new { id = Model.Id })">Скасувати</a>
        </div>
    </form>

    <a class="btn btn-link" href="@Url.Action("Index", "Articles")">Повернутись до списку</a>
</div>
