@model ArticleVersion
@using ScientificEdition.Data.Entities

@{
    ViewData["Title"] = $"Версія №{Model.VersionNumber}";
}

<div class="container mt-5">
    <h2>@Model.Article!.Title - Версія №@Model.VersionNumber</h2>
    <p><strong>Дата завантаження:</strong> @Model.UploadDate.ToString("dd/MM/yyyy")</p>

    @if (!string.IsNullOrEmpty(Model.Comment))
    {
        <p><strong>Коментар:</strong> @Html.Raw(Model.Comment)</p>
    }

    <a href="@Url.Action("DownloadVersion", "Articles", new { versionId = Model.Id })" class="btn btn-success">Завантажити</a>
    <a href="@Url.Action("Details", "Articles", new { id = Model.Article.Id })" class="btn btn-secondary">Повернутись до статтей</a>
</div>
